html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.e-bigger {
    font-size: x-large;
}

#AddTagButton{
    background-color: white;
}

#textArea{
    height:100px;
}
/*.e-float-input.control-wrapper-Tag .e-float-text::after {
    content: '*';
    color: red;
}*/

.e-plus-icon::before {
    content: '\e823';
}

.hovertext {
    border: none;
    width: 32px;
    height: 32px;
    background-color: #eee;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
}

    .hovertext:hover {
        border: 1px solid #888;
        background-color: #ddd;
    }


.Main-container {
    padding-bottom: 500px;
    padding: 10px 5%;
}

    .Main-container .Heading h2 {
        color: rgb(68, 68, 68);
        font-size: 70px;
        text-align: center;
        padding: 10px;
        font-weight: 600;
    }

    .Main-container .container-box {
        padding-bottom: 100px;
        padding: 50px 50px;
    }

        .Main-container .container-box .box .Author-date {
            color: rgb(56, 56, 56);
            font-size: 15px;
            padding-right: 5px;
        }

            .Main-container .container-box .box .Author-date h3 {
                font-weight: 600;
                font-size: 15px;
                padding-top: 5px;
            }

            .Main-container .container-box .box .Author-date p {
                padding-top: 5px;
            }

    .Main-container .container-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 15px;
    }

        .Main-container .container-box .box .Tags {
            padding-bottom: 20px;
        }

        .Main-container .container-box .box .Engagement {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
            gap: 2px;
            text-align: center;
            color: rgb(70, 70, 70);
            font-size: 10px;
        }

        .Main-container .container-box .box {
            background-color: rgb(230, 230, 230);
            padding: 20px;
        }

            .Main-container .container-box .box .Title h2 {
                font-size: 20px;
                color: #333333;
            }


            .Main-container .container-box .box .Title p {
                font-size: 15px;
                color: #505050;
            }

@media (max-width: 768px) {
    .Main-container {
        padding: 20px;
    }
}

.Main-container .container-box .box:hover {
    transform: scale(1.03);
    transition-duration: .5s;
}

.Main-container .Heading h2:hover {
    letter-spacing: 10px;
    transition: .1s ease-in-out;
    color: rgb(68, 68, 68);
    transition-duration: .2s;
}


.addpostHeader {
    color: rgb(70, 70, 70);
}



.main-container {
    padding: 50px 15%;
    padding-bottom: 200px;
}


    .main-container .container-box .blogInfo .author-date {
        text-align: end;
        padding: 10px;
    }

    .main-container .container-box .blogInfo .Heading-Description {
        padding: 10px;
    }

        .main-container .container-box .blogInfo .Heading-Description .Guid {
            color: rgb(29, 29, 29);
            opacity: 50%;
        }

        .main-container .container-box .blogInfo .Heading-Description p {
            color: rgb(29, 29, 29);
        }

    .main-container .container-box .blogInfo .content {
        padding: 10px;
        text-justify: auto;
        color: rgb(29, 29, 29);
    }

    .main-container .container-box .Engagement {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        gap: 10px;
        text-align: center;
        font-size: 10px;
        padding: 20px;
        background-color: rgb(245, 245, 245);
    }

    .main-container .container-box .commentBox {
        padding: 00px;
        padding-top: 50px;
    }

        .main-container .container-box .commentBox textarea {
            padding: 10px;
            width: 500px;
            background-color: rgb(245, 245, 245);
        }

        .main-container .container-box .commentBox button {
            padding: 10px;
            align-items: end;
            position: absolute;
        }