@model IEnumerable<MuktoBangla.Model.Domain.Tag>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["All Tags"] = "All Tags";
}

<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col col-lg-2">
        </div>

            <div class="col col-lg-10 e-bigger" style="background-color:white">
                <div class="container">
                    <div><h4>Tag & Descriptions</h4></div>
                <div style="padding:0px 0px 20px 0px" class="container d-flex">
                    <div class="p-2 flex-grow-1">
                        <ejs-textbox id="searchInput" placeholder="Search text" width="220">
                        </ejs-textbox>
                        <ejs-button style="margin-left: 8px" class="custom" id="SearchButton" content="Search">
                        </ejs-button>
                    </div>
                    <div class="p-1">
                        <ejs-button id="round" class="hovertext" cssClass="e-round" title="Add Tag and Description" iconCss="e-icons e-plus e-large" isPrimary="true">
                            
                        </ejs-button>
                        

                    </div>

                </div>

                <ejs-grid id="Search" dataSource="@Model" height="400" allowPaging="true" allowSorting="true">
                    <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
                    
                    <e-grid-columns>
                        <e-grid-column field="Name" headerText="Tag Name" width="30" textAlign="Center"></e-grid-column>
                        <e-grid-column field="TagDescription" headerText="Descriptions" format="C2" textAlign="Left" width="150"></e-grid-column>
                        <e-grid-column field="" headerText="Actions" textAlign="Right" width="40" template="#actionColumnTemplate"></e-grid-column>
                    </e-grid-columns>
                    
                </ejs-grid>

                <script>
                    document.getElementById('SearchButton').addEventListener('click', () => {
                        var gridObj = document.getElementById("Search").ej2_instances[0];
                        const searchText = document.getElementById("searchInput").ej2_instances[0].value;
                        gridObj.search(searchText);
                    });
                </script>
                <script id="actionColumnTemplate" type="text/x-template">
                    <div class="d-flex flex-row justify-content-start">
                        <a class="btn btn-sm" href="/AdminTag/UpdateTag/${Id}">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <form method="post" action="/AdminTag/Delete/${Id}">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-sm btn-link no-a-decoration" 
                            onclick="return confirm(&quot; Are you sure to delete this record ?&quot;)"
                            ><i class="fa-solid fa-trash-can fa-lg text-dande"></i>
                            </button>
                    
                        </form>
                        
                    </div>
                </script>

                <script>
                        document.getElementById("round").addEventListener('click', function () {
                        location.href = '@Url.Action("AddPost", "AdminTag")';
                    });
                </script>

                </div>
            </div>

        <div class="col col-lg-2">
        </div>
    </div>

</div>